.category{
    h1{
        text-align: center;
        font-size: 40px;
    }
    .category-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
    }
}