.card{
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: solid 1px grey;
    border-radius: 5px;
    cursor: pointer;
    padding: 25px;
    transition: transform 0.25s ease-out;
}
.card:hover{
    transform: scale(1.05);
}

.image{
    width: 100%;
    object-fit: contain;
}